/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #AABACC;
	--color-text-2: #d8e0e8;
	--color-background:#eee;
	--main-background: #20262C;
	--header-background: #14181C;
	--footer-background: #2C3440;
	--text-deco-1: uppercase;
	--text-upperfont: 600;
	--text-lowerfont: 300;
	--font: 'Inter', sans-serif;
	--font-2: "georgiapro", sans-serif;
	--color-button: #c8d4e0;
	--color-background-button: #567;
	--color-witwit: aliceblue;
	--fontsize-titels: .75em;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* general code */
body {
	margin: 0;
	background-color: var(--main-background);
	padding: 0;
	font-family: var(--font);
	font-weight: var(--text-lowerfont);
}
article img, article ul img {
	width: 5em;
	height: 7.5625em;
}

/* end general code */

/* header/nav code */
nav:first-of-type {
	background-color: var(--header-background);
	display: flex;
	justify-content: space-around;
	align-content: center;
}

nav:first-of-type ul {
	display: flex;
	align-content: center;
	text-transform: var(--text-deco-1);
	font-weight: var(--text-upperfont);
	font-size: .825em;
	gap: .75em;
}

nav:first-of-type ul li {
	display: flex;
	align-items: center;
	margin-bottom: 0;
}

nav:first-of-type ul a {
	text-decoration: none;
	color: var(--color-text);
}

nav:first-of-type p {
	color: var(--color-witwit);
	font-size: 1em;
	font-weight: var(--text-upperfont);
}
/* end header/nav code */

/* eerste section code */
section:first-of-type img {
	height: 7em;
	border-radius: 4em;
	grid-area: 1 / 1 / 4 / 2;
	justify-self: right;
}

section:first-of-type {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, .5fr) 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 0px;
	margin-top: 1em;
}

section:first-of-type h2 {
	grid-area: 1 / 2 / 2 / 3; 
	font-weight: var(--text-upperfont);
	color: var(--color-witwit);
	font-size: 1.25em;
}

section:first-of-type p:nth-of-type(2) {
	text-align: center;
	color: var(--color-text);
	font-size: .75em;
	grid-area: 3 / 1 / 4 / 3; 
}

section:first-of-type button {
	grid-area: 2 / 2 / 3 / 3; 
	text-align: center;
	border: none;
	background: var(--color-background-button);
	border-radius: 3px;
	box-shadow: inset 0 1px 0 hsla(0,0%,100%,.2);
	color: var(--color-button);
	text-transform: var(--text-deco-1);
	line-height: 12px;
	padding: 7px 10px 6px;
	letter-spacing: .075em;
	font-weight: var(--text-upperfont);
	font-size: .6em;
}
/* end eerste section code */

/* tweede section code */
.cijfer {
	font-family: var(--font-2);
	font-size: 3em;
	display: block;
	margin-bottom: .5em;
	color: var(--color-text-2);
}

section:nth-of-type(2) ul li {
	color: var(--color-background-button);
	font-family: var(--font);
	font-weight: var(--text-lowerfont);
	font-size: .6em;
	letter-spacing: .2em;
	text-transform: var(--text-deco-1);
	flex-direction: column;
	line-height: 1em;
}

section:nth-of-type(2) ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3em;
	text-align: center;
}

/* end tweede section code */

/* begin eerste en tweede article code */
article:first-of-type , article:nth-of-type(2){
	margin: .5em;
	display: flex;
	flex-direction: column;
}

article:first-of-type h3 , article:nth-of-type(2) h3 , article:nth-of-type(2) a{
	text-transform: var(--text-deco-1);
	font-weight: var(--text-lowerfont);
	font-size: var(--fontsize-titels);
	color: var(--color-text);
	border-bottom:  0.0625em solid #456;
	padding-bottom: 0.3125em;
}

article:first-of-type ul , article:nth-of-type(2) ul:nth-of-type(2) {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	gap: .75em;
	padding: 0;
}
/* end eerste article code */

article:nth-last-of-type(2) ul:first-of-type {
	border-bottom:  0.0625em solid #456;
	display: flex;
	justify-content: space-between;
}







footer {
	background-color: var(--footer-background);
}
