/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #AABACC;
	--color-text-2: #d8e0e8;
	--color-text-3: #667788;
	--color-text-4: #89a;
	--color-text-5: #9ab;
	--color-text-button: #bbccdd;
	--color-background:#eee;
	--color-link-actief: #40bcf4;
	--main-background: rgb(20,24,28); background: linear-gradient(0deg, rgba(20,24,28,1) 0%, rgba(32,38,44,1) 100%);;
	--header-background: #14181C;
	--footer-background: #2C3440;
	--button-background: #445566;
	--border-color: #24303c;
	--button-border-radius: 3px;
	--text-deco-1: uppercase;
	--text-upperfont: 600;
	--text-lowerfont: 300;
	--font: 'Inter', sans-serif;
	--font-2: "georgiapro", sans-serif;
	--color-button: #c8d4e0;
	--color-background-button: #567;
	--color-witwit: aliceblue;
	--fontsize-titels: .75em;
	--titel-letterspacing: .0750em;
	--standaard-line-height: 1.5em;
	--border-bottom: 0.1em solid #456;
	--border-radius-standaard: 0.125em;
	--border-radius-profile-img: 0.75em;
	--border-radius-progile-img-wl: 5em;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* general code */
body {
	margin: 0;
	background-color: var(--main-background-wl);
	padding: 0;
	font-family: var(--font);
	font-weight: var(--text-lowerfont);
}

article img, article ul img, #watchlist section img {
	width: 5em;
	height: 7.5625em;
	border-radius: var(--border-radius-standaard);
}


/* end general code */

/* BEGIN CODE POFILE PAGE */
/* Button dropdown menu */
.dropbtn {
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	margin-top: 3em;
	background-color: var(--color-background-button);
	color: var(--color-background);
	border-radius: var(--button-border-radius);
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {background-color: #ddd;}
.show {display: block;}

/* header/nav code */
nav:first-of-type {
	background-color: var(--header-background);
	display: flex;
	justify-content: space-around;
	align-content: center;
}
nav:first-of-type .dropdown,  nav:first-of-type button {
	display: flex;
	align-content: center;
	text-transform: var(--text-deco-1);
	font-weight: var(--text-upperfont);
	font-size: .825em;
	gap: .75em;
}
nav:first-of-type button {
	all:unset;
}
nav:first-of-type div:first-of-type a {
	display: flex;
	align-items: center;
	margin-bottom: 0;
}
nav:first-of-type div:first-of-type a, nav:first-of-type button{
	text-decoration: none;
	color: var(--color-text);
}
nav:first-of-type p {
	color: var(--color-witwit);
	font-size: 1em;
	font-weight: var(--text-upperfont);
}
/* end header/nav code */

/* eerste section code*/
#index div > section:first-of-type img {
	height: 5.5em;
	border-radius: 4em;
	grid-area: 1 / 1 / 4 / 2;
	justify-self: right;
	border: 0.0625em solid var(--color-background-button);
}
#index  div > section:first-of-type img:hover {
	border: .02em solid var(--color-text-5);
}
#index div  > section:first-of-type {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, .5fr) 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 0px;
	margin-top: 1em;
}
#index div > section:first-of-type h2 {
	grid-area: 1 / 2 / 2 / 3; 
	font-weight: var(--text-upperfont);
	color: var(--color-witwit);
	font-size: 1.25em;
	margin-bottom: 0;
}
#index div > section:first-of-type p:nth-of-type(2) {
	text-align: center;
	color: var(--color-text);
	font-size: .75em;
	grid-area: 3 / 1 / 4 / 3; 
}
#index div > section:first-of-type button {
	grid-area: 2 / 2 / 3 / 3; 
	text-align: center;
	border: none;
	background: var(--color-background-button);
	border-radius: 3px;
	box-shadow: inset 0 1px 0 hsla(0,0%,100%,.2);
	color: var(--color-button);
	text-transform: var(--text-deco-1);
	line-height: 12px;
	padding: 7px 10px 6px;
	letter-spacing: .075em;
	font-weight: var(--text-upperfont);
	font-size: .6em;
}
#index div > section:first-of-type button:hover {
	background-color: var(--color-text-3);
	color: var(--color-witwit);
}
/* end eerste section code */

/* tweede section code */
.cijfer {
	font-family: var(--font-2);
	font-size: 2.5em;
	letter-spacing: normal;
	display: block;
	margin-bottom: .4em;
	color: var(--color-text-2);
}
#index div section:nth-of-type(2) ul li {
	color: var(--color-background-button);
	font-family: var(--font);
	font-weight: var(--text-lowerfont);
	font-size: .55em;
	letter-spacing: .10em;
	text-transform: var(--text-deco-1);
	flex-direction: column;
	line-height: 1em;
}
#index div section:nth-of-type(2) ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3em;
	row-gap: 1.5em;
	text-align: center;
	padding: 1em;
	padding-top: 0;
	margin-top: 0;
	padding-left: 3.5em;
	padding-right: 3.5em;
}
#index div section:nth-of-type(2) h3 {
	color: transparent;
	margin: 0;
	padding: 0;
	font-size: .1em;
}
/* end tweede section code */
#index nav:nth-of-type(2) {
	border: 2px solid var(--border-color);
	margin: 0 20em 0 20em;
	border-radius: var(--border-radius-standaard);
}


#index nav:nth-of-type(2) ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	font-size: .9em;
}

#index nav:nth-of-type(2) ul li {
	color: var(--color-text-5);
	font-weight: var(--text-lowerfont);
	font-size: 1.25em;
}

#index nav:nth-of-type(2) ul li a {
	text-decoration: none;
	color: var(--color-text-5);
}

#index nav:nth-of-type(2) ul li a:hover {
	color: var(--color-link-actief);
}




/* begin eerste en tweede article code */
#index  article:first-of-type , #index article:nth-of-type(2) {
	margin: .5em;
	display: flex;
	flex-direction: column;
}
#index article:first-of-type h3 , #index article:nth-of-type(2) ul:first-of-type li h3 , #index article:nth-of-type(2) ul:first-of-type li a, #watchlist section:first-of-type h3, #watchlist section:first-of-type p , #index > section:last-of-type h3 , #index section:last-of-type a{
	text-transform: var(--text-deco-1);
	font-weight: var(--text-lowerfont);
	font-size: var(--fontsize-titels);
	color: var(--color-text);
	border-bottom:  var(--border-bottom);
	padding-bottom: 0.3125em;
	margin-bottom: 0;
	letter-spacing: var(--titel-letterspacing);
	text-decoration: none;
}
#index article:first-of-type ul , #index article:nth-of-type(2) ul:nth-of-type(2), #index section:last-of-type ul {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	gap: .75em;
	padding: 0;
}
/* end eerste article code */

#index article:nth-last-of-type(2) ul:first-of-type {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#index article:nth-last-of-type(2) ul:first-of-type li:first-of-type {
	flex-grow: 1;
}
#index article:nth-last-of-type(2) ul:first-of-type li, #watchlist section:first-of-type p , #index section:last-of-type a {
	color: var(--color-text-3);
	padding: 0;
}
#index article:nth-last-of-type(2) ul:first-of-type li a:hover , #index section:last-of-type a:hover{
	color: var(--color-link-actief);
}

/* end tweede article code */

/* begin derde article code */



#index article:nth-of-type(3) section {
	display: grid;
	grid-template-columns: .5fr 1fr;
	grid-template-rows: .75fr repeat(2, .5fr) 1fr .25fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin-left: .5em;
	color: var(--color-text);
	padding: .5em;
	gap: .25em;
}
#index article:nth-of-type(3) section img {
	grid-area: 1 / 1 / 5 / 2;
	justify-self: flex-start;
}
#index article:nth-of-type(3) section h3 {
	grid-area: 1 / 2 / 2 / 3;
	margin: 0;
	font-family: var(--font-2);
	color: var(--color-witwit);
	font-size: 1.25em;
}
#index article:nth-of-type(3) section span {
	color: var(--color-text-4);
	font-weight: var(--text-lowerfont);
	font-size: .75em;
	margin: 0;
	font-family: var(--font);
	margin-left: .5em;
}
#index article:nth-of-type(3) section p:nth-of-type(1) {
	grid-area: 2 / 2 / 3 / 3;
	color: var(--color-text-3);
	margin: 0;
	font-size: .75em;
}
#index article:nth-of-type(3) section p:nth-of-type(2) {
	grid-area: 3 / 2 / 4 / 3;
	justify-self: flex-start;
	margin: 0;
	font-style: italic;
	font-size: 0.875em;
	color: var(--color-text-5);
	font-family: var(--font-2);
	line-height: 1.5em;
}
#index article:nth-of-type(3) section p:nth-of-type(3) {
	grid-area: 4 / 2 / 5 / 3;
	margin: 0;
	font-size: 0.875em;
	color: var(--color-text-5);
}
#index article:nth-of-type(3) section p:nth-of-type(4) {
	grid-area: 5 / 1 / 6 / 3;
	font-size: .65em;
	font-weight: var(--text-upperfont);
	margin: 1em 1em;
}

/* end derde article code */


#index > section:last-of-type ul li img {
	width: 22em;
	border-radius: var(--border-radius-standaard);
}
#index > section:last-of-type {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}
#index > section:last-of-type h3 {
	flex-grow: 1;
	margin-left: 1em;
}
#index > section:last-of-type a {
	margin-right: 1em;
	align-self: flex-end;
}
#index > section:last-of-type ul {
	align-items: center;
	justify-items: center;
}



footer {
	background-color: var(--footer-background);
	padding: 1em;
	color: var(--color-text-3);
}
footer img {
	max-width: 2em;
}
footer ul {
	list-style-type: none;
	display: grid; 
	grid-template-columns: repeat(8, 1fr); 
	grid-template-rows: 1fr .5fr; 
	grid-column-gap: 0px;
	grid-row-gap: 20px; 
	gap: .5em;
	padding: 0;
	font-size: .65em;
	align-items: center;
}
footer ul li:nth-of-type(1) {
	grid-area: 1 / 2 / 2 / 8;
	margin-bottom: 1em;
}
footer ul li:nth-of-type(2) {
	grid-area: 2 / 3 / 3 / 4;
}
footer ul li:nth-of-type(3) {
	grid-area: 2 / 4 / 3 / 5;
}
footer ul li:nth-of-type(4) {
	grid-area: 2 / 5 / 3 / 6;
}
footer ul li:nth-of-type(5) {
	grid-area: 2 / 6 / 3 / 7;
}

/* EINDE CODE PROFILE PAGINA */

/***********************/
/* PAGINA 2 / WATCHLIST*/
/***********************/
#watchlist {
	background-color: var(--main-background-wl);
}

/* Eerste UL */
#watchlist > ul:first-of-type {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-items: flex-start;
	gap: .5em;
	padding: 0;
	margin: 0 0 0 1em;
}
#watchlist > ul:first-of-type img {
	height: 1.5em;
	border-radius: var(--border-radius-profile-img);
}
#watchlist > ul:first-of-type h2 {
	color: var(--color-witwit);
	font-size: 1em;
}
/* Einde eerste UL */


/* Eerste section */
#watchlist section:first-of-type {
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
	padding: 0;
	margin: 1em 0 0 0;
}
#watchlist section:first-of-type h3, #watchlist section:first-of-type p {
	padding: 0;
	margin: 0 1em 0 1em;
}
#watchlist section:first-of-type h3 {
	flex-grow: 1;
	margin: 0 0 0 1em;
}
#watchlist section:first-of-type p {
	color: var(--color-text-3);
	padding: 0;
	margin: 0 1em 0 0;
}
#watchlist section:first-of-type ul  {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: space-between;
	padding: 0;
	margin: 1em;
}
#watchlist section:first-of-type ul li {
	margin-bottom: 0.125em;
}
/* Einde eerste section */


/* Begin ul + buttons */
#watchlist .ul_buttons {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 1em;
	gap: .064em;
}
#watchlist ul button {
	border: none;
	padding: 1.25em;
	width: 100%;
	background-color: var(--button-background);
	color: var(--color-text-button);
	font-family: var(--font-2);
}
#watchlist ul li:first-of-type button {
	border-top-left-radius: var(--button-border-radius);
	border-top-right-radius: var(--button-border-radius);
}
#watchlist ul li:last-of-type button {
	border-bottom-left-radius: var(--button-border-radius);
	border-bottom-right-radius: var(--button-border-radius);
}
/* Einde ul en buttons */

/* P en dergelijken */
#watchlist section:last-of-type {
	display: flex;
	flex-direction: column;
	margin: 2em 1em 1em 1em;
}
#watchlist section:last-of-type h3 {
	color: var(--color-text-5);
	text-transform: var(--text-deco-1);
	font-weight: var(--text-lowerfont);
	font-size: var(--fontsize-titels);
	border-bottom: var(--border-bottom);
	padding-bottom: 0.3125em;
	letter-spacing: var(--titel-letterspacing);

}
#watchlist section:last-of-type p {
	color: var(--color-text-4);
	font-size: var(--fontsize-titels);
	line-height: var(--standaard-line-height);
}
#watchlist section:last-of-type p a {
	text-decoration: none;
	color: var(--color-witwit);
}
/* P en dergelijken */

/* Media queries */
@media screen and (max-width: 375px) {
	nav:nth-of-type(2) {
		display: none;
	}
	article img, #watchlist section img {
		width: 9em;
		height: 13.6125em;
		border-radius: var(--border-radius-standaard);
	}
	#index article:nth-of-type(3) section {
		gap: 1em;
	}
	#index article:nth-of-type(3) section p:nth-of-type(4) {
		grid-area: 5 / 1 / 6 / 3;
		font-size: .65em;
		font-weight: var(--text-upperfont);
		margin: .5em 2em;
	}
}

@media screen and (min-width: 376px) and (max-width: 767px) {
	nav:nth-of-type(2) {
		display: none;
	}
	article img, #watchlist section img {
		width: 10em;
		height: 15.125em;
		border-radius: var(--border-radius-standaard);
	}
	#index article:nth-of-type(3) section {
		gap: 1em;
	}
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
	nav:nth-of-type(2) {
		display: none;
	}
	article img, article ul img, #watchlist section img {
		width: 10em;
		height: 15.125em;
		border-radius: var(--border-radius-standaard);
	}
}


/* Desktop media queries */
@media screen and (min-width: 1200px) {
	nav:first-of-type ul {
		display: flex;
		align-content: center;
		text-transform: var(--text-deco-1);
		font-weight: var(--text-upperfont);
		font-size: .9em;
		gap: .75em;
	}
	nav:first-of-type p {
		color: var(--color-witwit);
		font-size: 2em;
		font-weight: var(--text-upperfont);
		margin: .75em;
	}

	#index article:first-of-type, #index article:nth-of-type(2) , #index article:nth-of-type(3){
		margin: 0 20em 0 20em;
	}

	div:first-of-type {
		display: flex;
		align-content: center;
		justify-content: space-around;
		margin: 0 20em 0 20em;
	}
	
	div:first-of-type img {
		height: 5.5em;
	}

	div:first-of-type section:nth-of-type(2) {
		align-self: flex-end;
	}

	div:first-of-type section:nth-of-type(2) ul {
		padding: 0;
		margin: 0;
		gap: 0;
	}

	#index div:first-of-type  > section:first-of-type {
		display: grid; 
		grid-template-columns: repeat(2, 1fr) 2fr; 
		grid-template-rows: repeat(2, 1fr); 
		grid-column-gap: 20px;
		grid-row-gap: 0px; 
		grid-row-gap: 0px; 
		margin-top: 1em;
	}
	#index div:first-of-type > section:first-of-type p:nth-of-type(2) {
		text-align: start;
		color: var(--color-text);
		font-size: .75em;
		grid-area: 2 / 2 / 3 / 4;
	}
	article img, article ul img, #watchlist section img {
		width: 11em;
		height: 16.235em;
		border-radius: var(--border-radius-standaard);
	}

	#index > section:last-of-type {
		display: none;
	}
	
	#watchlist ul:first-of-type, #watchlist section:first-of-type, #watchlist ul:last-of-type, #watchlist section:last-of-type{
		margin: 2em 20em 1em 20em;
	}
	#watchlist > ul:first-of-type img {
		width: 5em;
		height: 5em;
		border-radius: var(--border-radius-progile-img-wl)
	}
	#watchlist > ul:first-of-type h2 {
		font-size: x-large;
		margin-left: .5em;
	}
	
}